.body {
  height: 100%;
  background:rgba(3, 18, 32, 0.938);
  
  

}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    height: 100%;
  }
}



.p {

  font-family: Helvetica, Arial, sans-serif;

}


.sidebar{

  background-color: #020d22;
  margin-top: -3px;
  padding-top: -3px;
  position: absolute;
  display: block;  
   top: 3px;
  left: 0;
  float: left;
  width: 210px;
  height: 100%;
  transition-duration: 1s;
  position: fixed;
  
 


}


.sidebar a{

color: antiquewhite;
display: block;
width: 100%;
line-height: 60px;
text-decoration: none;
padding-left: 40px;
box-sizing: border-box;
transition-duration: 1s;
 transition-property: background;

}

.sidebar .bibli{

  background-color: #9eadc9;

}

.sidebar a:hover{

  background-color: cadetblue;

}

sidebar-btn:hover{

  background-color: #a7a9c7d5;
  color: #0b49bd;

}

sidebar-btn{

  background-color: transparent;

}


.sidebar img{

  padding-right: 10px;
}

label #sidebar-btn{

  z-index: 1;
  color: #fff;
  position: fixed;
  cursor: pointer;
  left: 3px;
  font-size: 20px;
  margin: 5px 0;
  transition-duration: 1s;
}

#check:checked ~ .sidebar{

left: -150px;
transition-duration: 1s;
}



#check:checked ~ .sidebar a span{

  display: none;
  
    }

    #check:checked ~ .sidebar a {

      font-size: 20px;
      margin-left: 120px;
      width: 80px;

      
        }


        #check{

          visibility: hidden;
          float: right;

        }
          

          #navbar {
            overflow: hidden;
            background-color: #020d22;
            opacity: 0.95;
            left: 35px;
            margin-left: 160px;
            width: auto;
            height: auto;
            position: fixed;
            top: -8px;

          
          }
          
          .t:hover {
          
            background: cadetblue;
          
          
          }
          
          
          /*lien navbar */
          #navbar .t {
            float: right;
            transition-duration: 0.5s;
            
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 20px;
            width: 200px;
            text-decoration: none;
          }
          
          /* contenu de la page */
          .content {
            padding: 16px;
          }
          
          
          /* la class sticky est relier au js*/
          .sticky {
            position: fixed;
            top: 0;
            width: 100%;
          }
          
          /* pour pouvoir prevoir les mouvement */
          .sticky+.content {
            padding-top: 60px;
          }
          
          
          
          .p {
          
            font-family: Helvetica, Arial, sans-serif;
          }
          
          
          .lu {
            list-style-type: none;
            margin: 0;
            padding: 0;
          
          }
          
          .linked {
            color: #f2f2f2;
            right: 50px;
          
          }

          
          .linked:hover {
            color: rgb(0, 89, 255);
          
          }
          
          #Name{

            border: #9eadc9 3px solid;
            border-radius: 5px;
            float: right;
            bottom: auto;
            height:100% ;
            bottom: 5px;
            
          

          }

          .read{

            color: #fff;
            text-align: center;
            width: 75%;
            margin-left: 200px;

          }
          .titre{

            margin-left: 100px;
            text-decoration: underline;
            color: whitesmoke;

          }

          .book{

            background-color: #04112b;
            color: #fff;
            border: 2px solid #0b49bd;
            border-radius: 10px;
            text-align: center;
            height: 100%;
            width: 100%;
            margin-left: 75px;
            margin-top: 50px;
            align-content: center;
            

           
          }

          .edit{


            height: 32px;
            width: 32px;
        
          }
		  
		  .Content{
			  
			width: 100%;
            height:100%;			
			  
		  }
         

            

          
                  